{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn" style="background-color: #8a2be2; color: #fff; border: none; border-radius: 5px; padding: 10px 20px; font-family: Arial, sans-serif; font-size: 16px; cursor: pointer; text-shadow: 0 0 10px rgba(138, 43, 226, 0.8); transition: background-color 0.3s ease;">
    {{ button_label|default('Save') }}
</button>


{{ form_end(form) }}
