{% extends 'back/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

<div id="map" style="height: 400px;"></div>
<button id="saveLocationButton", class="btn btn-primary">Save Location</button>

<script>
var map = L.map('map').setView([36.89888, 10.18955], 17);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

var marker;

// Event listener to capture location when user clicks on the map
map.on('click', function(e) {
    if (marker) {
        map.removeLayer(marker); // Remove previous marker
    }
    marker = L.marker(e.latlng).addTo(map);
});

// Event listener for the button to save the location
document.getElementById('saveLocationButton').addEventListener('click', function() {
    if (marker) {
        var latitude = marker.getLatLng().lat;
        var longitude = marker.getLatLng().lng;

        // Send AJAX request to server
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ path('save_location') }}", true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    alert('Location saved successfully');
                } else {
                    alert('Failed to save location. Please try again.');
                }
            }
        };
        xhr.send(JSON.stringify({latitude: latitude, longitude: longitude}));
    } else {
        alert('Please select a location on the map.');
    }
});
</script>

{% endblock %}
