<!-- Header section -->
	<header class="header-section">
		<div class="header-warp">
			<div class="header-social d-flex justify-content-end">
				<p>Follow us:</p>
				<a href="#"><i class="fa fa-pinterest"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-behance"></i></a>
			</div>
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<a href="home.html" class="site-logo">
					<img src="./img/logo1.png" alt="">
				</a>
				<nav class="top-nav-area w-100">
				{# Check if the user is logged in #}
				<div class="user-panel">
					{% if app.user %}
					 <a href="/show">Profile</a> / <a href="{{ path('app_logout') }}">Log out</a>
    					
						{% else %}
						<a href="/login">Login</a> / <a href="/register">Register</a>
						{% endif %}
					</div>
					<!-- Menu -->
					{% if app.user %}
					 {% if 'ROLE_PLAYER' in app.user.roles %}
					<ul class="main-menu primary-menu">
						<li><a href="home.html">Subscription</a></li>
						<li><a href="games.html">Courses</a>
							<ul class="sub-menu">
								<li><a href="game-single.html">Game Singel</a></li>
							</ul>
						</li>
						<li><a href="review.html">Events</a></li>
						<li><a href="blog.html">Teams</a></li>
						<li><a href="contact.html">Reclamation</a></li>
					</ul>
					{% elseif 'ROLE_COACH' in app.user.roles %}
					<ul class="main-menu primary-menu">
					<li><a href="home.html">Courses</a></li>
					<li><a href="contact.html">Reclamation</a></li>
					</ul>
					{% endif %}
					{% endif %}
				</nav>
			</div>
		</div>
	</header>
	<!-- Header section end -->
